.bookList {
  padding: 2.5% 0 0 0;
}

.bookList:after {
  content: '';
  display: block;
  clear: both;
}

.book {
  float: left;
  background: #099;
  padding: 10px;
  box-sizing: border-box;
  width: calc(90%/3);
  min-height: 120px;
  margin: 0 0 2.5% 2.5%; 
  text-align: center;
  border-radius: 15px;
}

.book .title {
  font-weight: bold;
  font-size: 150%;
}

.book .author {
  margin-top: 10px;
  color: #fff;
}